* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes cactusMove {
  0% {
    left: 360px;
  }

  100% {
    left: -30px;
  }
}

.jump {
  animation: jump 0.5s cubic-bezier(0.8, 0.67, 0.83, 0.67);
}

@keyframes jump {
  0% {
    top: 160px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 60px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 160px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  gap: 5px;
  padding: 10px;
}

.header__title {
  font-family: 'Nunito', sans-serif;
  font-family: 'VT323', monospace;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
}

.header__icon {
  width: 40px;
  height: 40px;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  gap: 15px;
  font-family: 'Nunito', sans-serif;
  font-family: 'VT323', monospace;
  background-color: rgb(238, 238, 219);
  /* background: url('./img/arcade-machine-screen.jpg') no-repeat;
   background-size: contain; */
}

.game {
  max-width: 600px;
  height: 200px;
  border-bottom: 0.3mm dashed #000;
  /* margin: 0 auto; */
  min-width: 250px;
  overflow: hidden;
  position: relative;
}

.game__box {
  display: none;
  max-width: 700px;
  min-height: 400px;
  flex-direction: column;
  justify-content: center;
  border: 4mm ridge rgba(142, 142, 136, 0.6);
  padding: 20px;
  margin: 0 auto;
  gap: 20px;
}

.game__btn {
  width: 140px;
  height: 50px;
  border-radius: 15%;
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-family: 'VT323', monospace;
  cursor: pointer;
  background-color: #f0eaeacc;
}

.game__btn:hover {
  background-color: #bbb5b5cc;
}

.game__icon-btn {
  width: 35px;
  height: 30px;
  position: absolute;
  bottom: 10px;
  right: 5px;
  padding-left: 5px;
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url(./img/dino.png);
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

#cactus {
  width: 20px;
  height: 40px;
  background-image: url(./img/cactus.png);
  background-size: 20px 40px;
  position: relative;
  top: 110px;
  left: 580px;
  animation: cactusMove 2s infinite linear;
}

.page {
  display: none;
  max-width: 500px;
}

.page__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.page__title {
  font-size: 35px;
  font-weight: 400;
}

.page__subtitle {
  font-size: 25px;
  font-weight: 400;
}

.page__icon {
  width: 90px;
  height: 80px;
  color: aqua;
}

.game__is-over {
  width: 180px;
  height: 150px;
}
.game__score {
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
}

.game__score_final {
  font-size: 25px;
  font-weight: 400;
}

.active {
  display: flex;
}
